.yd-banner {
	background: url("../img/agency/yd_join_banner.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 500px;
}

.yd-content {
	display: block;
	position: relative;
}

.yd-join-block {
	background: url("../img/agency/yd_join_backg.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 350px;
}

.yd-width1200 {
	width: 1200px;
	margin: 0 auto;
}

.yd-join-form {
	position: relative;
	padding: 0 312px;
}

.yd-join-form h2 {
	padding: 15px 0 20px 0;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: #333;
}

.yd-user-infrom {
	display: block;
	position: relative;
	padding-bottom: 30px;
}

.yd-join-list {
	display: inline-block;
	margin-right: 30px;
}

.yd-join-list p {
	display: inline-block;
	font-size: 18px;
	color: #333;
	text-align: left;
	padding-right: 20px;
}

.yd-join-list input {
	display: inline-block;
	width: 180px;
	height: 35px;
	line-height: 35px;
	border: #EAE9E9 solid 1px;
	border-radius: 5px;
	/*float: left;*/
	text-indent: 1em;
	font-size: 12px;
	color: #666;
}

.yd-join-btn {
	display: block;
	width: 289px;
	height: 61px;
	background: #E60012;
	margin: 0px auto;
	font-size: 18px;
	text-align: center;
	line-height: 61px;
	color: #fff;
}

.phone_tips {
	font-size: 24px;
	color: red;
	position: relative;
	top: -15px;
	text-align: center;
}

.yd-join-list select {
	width: 186px !important;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	border: #EAE9E9 solid 1px;
	font-size: 14px;
	color: #666;
}

.yd-line {
	display: inline-block;
	width: 34px;
	margin: auto;
	text-align: center;
	color: #666;
	line-height: 33px;
}

.yd-title {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	padding: 30px 0 10px 0;
}

.yd-trend-img {
	background: url("../img/agency/yd_join_trend.png") no-repeat center;
	background-size: cover;
	width: 1093px;
	height: 336px;
	margin: 0 auto;
}

.yd-black {
	display: block;
	position: relative;
}

.yd-black-bg {
	background: #373d41;
}

.yd-black-body {
	position: relative;
	overflow: hidden;
	height: 420px;
}

.yd-black-ul {
	position: relative;
}

.yd-foot-black-ul:before,
.yd-foot-black-ul:after,
.yd-support-ul:before,
.yd-support-ul:after,
.yd-join-ul:before,
.yd-join-ul:after,
.yd-prod-ul:before,
.yd-prod-ul:after,
.yd-power-ul:before,
.yd-power-ul:after,
.yd-merit-ul:before,
.yd-merit-ul:after,
.yd-black-ul:before,
.yd-black-ul:after {
	content: "";
	display: table;
	clear: both;
}

.yd-black-ul li {
	position: relative;
	float: left;
	color: #000;
	font-size: 0;
	text-align: center;
	min-width: 236px;
	width: 288px;
	height: 420px;
}

.yd-black-ul li a:hover {
	display: block;
	opacity: 0.59;
}

img {
	border: 0;
}

.yd-black-ul li .item-img {
	width: 100%;
	height: 100%;
}

.yd-mask {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.yd-bg {
	/*position: absolute;*/
	/*left: 0;*/
	/*right: 0;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*background: #161a1d;*/
	/*opacity: .6;*/
	/*filter: alpha(opacity=60);*/
	/*-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(60));*/
	/*transition: all .4s cubic-bezier(.4,0,.2,1);*/
}

.yd-black-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	bottom: 0;
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.yd-black-content .icon {
	display: table;
	margin: 0 auto;
	width: 30px;
	height: 33px;
}

.yd-pain-01 {
	background: url("../img/agency/yd_pain_01.png") no-repeat center;
}

.yd-pain-02 {
	background: url("../img/agency/yd_pain_02.png") no-repeat center;
}

.yd-pain-03 {
	background: url("../img/agency/yd_pain_03.png") no-repeat center;
}

.yd-pain-04 {
	background: url("../img/agency/yd_pain_04.png") no-repeat center;
}

.yd-line-panel {
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
	margin-top: 20px;
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.item-line {
	width: 20px;
	height: 2px;
	background: #fff;
	display: inline-block;
	opacity: 1;
	filter: alpha(opacity=100);
	/*-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));*/
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.yd-black-content h3 {
	color: #fff;
	font-size: 22px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	font-weight: 700;
	transition: all .4s cubic-bezier(.4, 0, .2, 1);
}

.yd-black-content p {
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 30px;
	padding: 0 23px;
	line-height: 24px;
	height: 72px;
}

.yd-merit-ul {
	padding: 20px 0 90px 0;
}

.yd-merit-ul li {
	float: left;
	width: 20%;
}

.yd-merit-ul li .icon {
	display: table;
	margin: 0 auto;
	width: 133px;
	height: 141px;
}

.yd-merit-01 {
	background: url("../img/agency/yd_merit_01.png") no-repeat center;
}

.yd-merit-02 {
	background: url("../img/agency/yd_merit_02.png") no-repeat center;
}

.yd-merit-03 {
	background: url("../img/agency/yd_merit_03.png") no-repeat center;
}

.yd-merit-04 {
	background: url("../img/agency/yd_merit_04.png") no-repeat center;
}

.yd-merit-05 {
	background: url("../img/agency/yd_merit_05.png") no-repeat center;
}

.yd-merit-ul li h3 {
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	color: #333;
	padding: 25px 0 15px 0;
}

.yd-merit-ul li p {
	font-size: 16px;
	text-align: center;
	color: #666;
}

.yd-map-bg {
	background: url("../img/agency/yd_map_bg.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 773px;
}

.yd-map-panel {
	display: block;
	position: relative;
	background: url(../img/agency/yd_map_gay.png) no-repeat center;
	background-size: cover;
	width: 581px;
	height: 509px;
	box-sizing: border-box;
	left: 54%;
	top: 218px;
}

.yd-map-list {
	position: relative;
	margin: 30px 0 20px 160px;
	top: 60px;
}

.yd-icon {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 5px;
	position: relative;
}

.yd-icon:before {
	content: "";
	position: absolute;
	background: url(../img/agency/yd_map_icon.png) no-repeat center center;
	background-size: cover;
	width: 24px;
	height: 38px;
	top: 0;
	left: -36px;
}

.yd-map-list h4 {
	color: #D81E06;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
}

.yd-power-bg {
	position: relative;
	background: #F3F3F3;
}

.yd-title-line {
	width: 118px;
	height: 3px;
	background: rgba(97, 145, 255, 1);
	margin: 10px auto;
}

.yd-power-ul {
	padding: 60px 0 90px 0;
}

.yd-power-ul li {
	float: left;
	width: 50%;
	margin-bottom: 65px;
	height: 150px;
}

.yd-power-ul li .icon {
	display: inline-block;
	width: 81px;
	height: 64px;
	vertical-align: top;
}

.yd-power-01 {
	background: url("../img/agency/yd_power_01.png") no-repeat center;
}

.yd-power-02 {
	background: url("../img/agency/yd_power_02.png") no-repeat center;
}

.yd-power-03 {
	background: url("../img/agency/yd_power_03.png") no-repeat center;
}

.yd-power-04 {
	background: url("../img/agency/yd_power_04.png") no-repeat center;
}

.yd-power-05 {
	background: url("../img/agency/yd_power_05.png") no-repeat center;
}

.yd-power-06 {
	background: url("../img/agency/yd_power_06.png") no-repeat center;
}

.yd-power-list {
	display: inline-block;
	margin-left: 30px;
}

.yd-power-list h3 {
	font-size: 20px;
	font-weight: normal;
	color: #333;
	text-align: left;
	padding-bottom: 10px;
}

.yd-power-list p {
	font-size: 14px;
	font-weight: normal;
	color: #666;
	text-align: left;
	line-height: 18px;
	width: 350px;
}

.yd-prod-ul {
	padding: 50px 0 50px 0;
}

.yd-prod-ul li {
	float: left;
	width: 20%;
}

.yd-prod-ul li h3 {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #333;
	padding: 24px 0 20px 0;
}

.yd-prod-ul li p {
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	color: #666;
}

.yd-prod-ul li .icon {
	display: table;
	margin: 0 auto;
	width: 58px;
	height: 58px;
}

.yd-prod-01 {
	background: url("../img/agency/yd_prod_01.png") no-repeat center;
}

.yd-prod-02 {
	background: url("../img/agency/yd_prod_02.png") no-repeat center;
}

.yd-prod-03 {
	background: url("../img/agency/yd_prod_03.png") no-repeat center;
}

.yd-prod-04 {
	background: url("../img/agency/yd_prod_04.png") no-repeat center;
}

.yd-prod-05 {
	background: url("../img/agency/yd_prod_05.png") no-repeat center;
}

.yd-prod-btn {
	display: block;
	width: 219px;
	height: 61px;
	line-height: 61px;
	background: rgba(65, 153, 249, 1);
	font-size: 20px;
	text-align: center;
	color: #fff;
	margin: 0px auto 55px;
}

.yd-text-p {
	font-size: 18px;
	text-align: center;
	color: #666;
}

.yd-join-ul {
	padding: 50px 0;
}

.yd-join-ul li {
	float: left;
	width: 33.3%;
	margin: 0 auto 35px;
}

.yd-join-ul li a {
	display: block;
	width: 271px;
	height: 242px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid #D2D2D2;
	margin: 0 auto;
}

.yd-join-ul li h3 {
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	color: #333;
}

.yd-join-ul li .icon {
	display: table;
	margin: 60px auto 20px;
	width: 64px;
	height: 61px;
}

.yd-join-01 {
	background: url("../img/agency/yd_join_01.png") no-repeat;
}

.yd-join-02 {
	background: url("../img/agency/yd_join_02.png") no-repeat;
}

.yd-join-03 {
	background: url("../img/agency/yd_join_03.png") no-repeat;
}

.yd-join-04 {
	background: url("../img/agency/yd_join_04.png") no-repeat;
}

.yd-join-05 {
	background: url("../img/agency/yd_join_05.png") no-repeat;
}

.yd-join-06 {
	background: url("../img/agency/yd_join_06.png") no-repeat;
}

.yd-support-ul {
	padding: 40px 0;
}

.yd-support-ul li {
	float: left;
	width: 20%;
}

.yd-support-ul li h3 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	color: #333;
	padding: 20px 0;
}

.yd-support-ul li P {
	font-size: 14px;
	text-align: center;
	color: #666;
	line-height: 20px;
}

.yd-support-ul li .comm-backg {
	display: block;
	width: 170px;
	height: 140px;
	margin: 0 auto;
}

.mintcream-bg {
	background: rgba(132, 204, 201, 1);
}

.red-bg {
	background: rgba(238, 93, 107, 1);
}

.orange-bg {
	background: rgba(246, 133, 89, 1);
}

.blue-bg {
	background: rgba(122, 153, 240, 1);
}

.pink-bg {
	background: rgba(248, 117, 160, 1);
}

.yd-support-ul li .icon {
	display: table;
	position: relative;
	top: 35px;
	margin: 0 auto;
	width: 66px;
	height: 63px;
}

.yd-support-01 {
	background: url("../img/agency/yd_support_01.png") no-repeat center;
}

.yd-support-02 {
	background: url("../img/agency/yd_support_02.png") no-repeat center;
}

.yd-support-03 {
	background: url("../img/agency/yd_support_03.png") no-repeat center;
}

.yd-support-04 {
	background: url("../img/agency/yd_support_04.png") no-repeat center;
}

.yd-support-05 {
	background: url("../img/agency/yd_support_05.png") no-repeat center;
}


/*轮播*/

.container {
	margin: auto;
	padding: 10px 0 40px;
	width: 1200px;
}

.card-container .card-title {
	color: #000;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 5px;
	text-align: center;
}

.swiper-container-1 {
	width: 100%;
	height: 577px;
}

.yd-swiper .title-container {
	padding-bottom: 0;
}

.yd-swiper .swiper-icon-container {
	position: absolute;
	top: 37%;
}

.yd-swiper .card-title {
	margin-top: 0;
	margin-bottom: 15px !important;
}

.yd-swiper .card-text {
	color: #6C6C6C;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
	text-align: left;
	padding: 0 34px;
}

.yd-swiper .icon-1 {
	background: url("../img/agency/agent-part07-icon1.png") no-repeat center center;
	background-size: contain;
}

.yd-swiper .icon-2 {
	background: url("../img/agency/agent-part07-icon2.png") no-repeat center center;
	background-size: contain;
}

.yd-swiper .icon-3 {
	background: url("../img/agency/agent-part07-icon3.png") no-repeat center center;
	background-size: contain;
}

.yd-swiper .icon-4 {
	background: url("../img/agency/agent-part07-icon4.png") no-repeat center center;
	background-size: contain;
}


/*di*/

.yd-foot-block {
	display: block;
	position: relative;
}

.yd-foot-black {
	background: url("../img/agency/yd_foot_black.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 341px;
}

.yd-foot-black-ul {
	padding-top: 70px;
}

.yd-foot-black-ul li {
	float: left;
	width: 20%;
}

.yd-foot-black-ul li h3 {
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	padding-top: 45px;
}

.yd-foot-black-ul li .icon {
	display: table;
	margin: 0 auto;
	width: 54px;
	height: 54px;
}

.yd-flow-01 {
	background: url("../img/agency/yd_flow_01.png") no-repeat center;
}

.yd-flow-02 {
	background: url("../img/agency/yd_flow_02.png") no-repeat center;
}

.yd-flow-03 {
	background: url("../img/agency/yd_flow_03.png") no-repeat center;
}

.yd-flow-04 {
	background: url("../img/agency/yd_flow_04.png") no-repeat center;
}

.yd-flow-05 {
	background: url("../img/agency/yd_flow_05.png") no-repeat center;
}

.yd-foot-join-btn {
	display: block;
	position: relative;
	top: 50px;
	margin: 0 auto;
	width: 289px;
	height: 64px;
	line-height: 64px;
	background: rgba(249, 40, 56, 1);
	font-size: 20px;
	text-align: center;
	color: #fff;
}