.warp-container .item-container .item:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card-3-b {
  border: 1px solid #c5c5c5;
  width: 32.3%;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.card-3-b:nth-child(2) {
  margin: 0 1.5%;
}

.card-4-b {
  border: 1px solid #c5c5c5;
  width: 24%;
  box-sizing: border-box;
  float: left;
  position: relative;
  margin-left: 1%;
}

.card-4-b:first-child {
  margin-left: 0;
}

.btn {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  cursor: pointer;
  display: block;
  width: 30%;
  padding: 13px 18px;
  text-align: center;
  margin: auto;
}

.card-1 {
  margin-bottom: 50px;
}

.card-1:last-child {
  margin-bottom: 0;
}

.card-2 {
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.card-3 {
  width: 33.3%;
  box-sizing: border-box;
  float: left;
}

.card-4 {
  width: 25%;
  box-sizing: border-box;
  float: left;
  position: relative;
  margin-bottom: 50px;
}

.card-5 {
  width: 20%;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.card-6 {
  width: 16.66%;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.card-8 {
  width: 12.5%;
  box-sizing: border-box;
  float: left;
  margin-bottom: 25px;
}

.clear:before,
.partner:before,
.card-container:before,
.clear:after,
.partner:after,
.card-container:after {
  content: "";
  display: table;
  clear: both;
}

.response-img {
  display: block;
  width: 100%;
  height: auto;
}

.mark {
  color: #169EF4 !important;
}

.hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #D2D2D2;
  margin: 25px 0;
}

.warp-container {
  height: 586px;
  overflow: hidden;
}

.warp-container .container {
  padding: 60px 0;
  height: 466px;
}

.warp-container .card-2-spe {
  width: 70%;
  box-sizing: border-box;
  float: left;
  position: relative;
  padding-right: 30px;
}

.warp-container .card-2-spe:last-child {
  width: 30%;
  box-sizing: border-box;
  float: left;
}

.warp-container .item-title-container {
  width: 100%;
  margin-bottom: 30px;
}

.warp-container .item-title-container .item-title {
  color: #000;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
  display: inline-block;
}

.warp-container .item-title-container .item-more {
  color: #FFA830;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  cursor: pointer;
  float: right;
}

.warp-container .item-container .item {
  color: #6C6C6C;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  position: relative;
  display: block;
  margin: 0 0 20px 20px;
}

.warp-container .item-container .item:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #FFA830;
  left: -20px;
}

.warp-container .item-btn-container {
  padding-top: 20px;
}

.warp-container .item-btn-container .card-3-spe {
  width: 30%;
  box-sizing: border-box;
  float: left;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  background: #FFA830;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.warp-container .item-btn-container .card-3-spe:nth-child(2) {
  margin: 0 5%;
}

.swiper-container-1 {
  width: 100%;
  height: 577px;
}

.down-icon {
  color: #9e9e9e;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
}

.down-icon .footer-container {
  width: 1000px;
}

.down-icon a {
  color: #666;
}

.down-icon a:hover {
  color: #666;
  text-decoration: none;
}

.down-icon .item {
  margin-bottom: 8px;
  text-align: center;
}

.banner {
  position: relative;
  background: url("../img/content/banner.png") no-repeat center;
  background-size: cover;
  height: 600px;
  box-sizing: border-box;
}

.banner .banner-container {
  position: absolute;
  top: 25%;
  left: 57%;
}

.banner .banner-container .title {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 12px;
  font-weight: 700;
}

.banner .banner-container .title-bar {
  color: #FFFEFE;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 12px;
}

.banner .banner-container .title-txt {
  color: #FFFEFE;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.banner .banner-container .title-btn {
  color: #FFFEFE;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  display: inline-block;
  background: #4799FF;
  border-radius: 10px;
  padding: 10px 30px;
  margin-left: 0;
}

.banner .banner-container .item-container {
  color: #49A3FF;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 12px;
}

.banner .banner-container .item-container .item {
  position: relative;
  display: inline-block;
  margin-right: 33px;
}

.banner .banner-container .item-container .item:before {
  display: inline-block;
  height: 24px;
  margin-right: 13px;
  vertical-align: sub;
  width: 24px;
}

.banner .banner-container .item-container .item-1:before {
  content: url("../img/content/banner-item-1.png");
}

.banner .banner-container .item-container .item-2:before {
  content: url("../img/content/banner-item-2.png");
}

.banner .banner-container .item-container .item-3:before {
  content: url("../img/content/banner-item-3.png");
}

.banner .banner-container .item-container .item-4:before {
  content: url("../img/content/banner-item-4.png");
}

.banner .banner-container .item-container .item-5:before {
  content: url("../img/content/banner-item-5.png");
}

.container-1 {
  padding: 33px 0;
}

.container-2 {
  background: url("../img/content/part02-bg.png") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  height: 597px;
  padding: 85px 0;
}

.container-2 .title-container .title,
.container-2 .title-container .title-bar {
  color: #fff;
}

.container-2 .card-container .card-title {
  color: #fff;
}

.container-2 .card-container .txt {
  color: #BABABA;
}

.container-3 {
  padding-top: 45px;
}

.container-3 .card-container .card-title-bar {
  color: #fff;
}

.container-4 {
  padding-top: 50px;
}

.container-5 {
  background: #29292B;
  padding-top: 35px;
  position: relative;
}

.container-5 .title-container .title,
.container-5 .title-container .title-bar {
  color: #fff;
}

.container-5 .card-container .card-title {
  color: #fff;
}

.container-5 .card-container .txt {
  color: #BABABA;
}

.container-5 .btn-container {
  position: absolute;
  bottom: 65px;
  left: 50%;
  margin: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.container-6 {
  padding-top: 42px;
}

.container-7 {
  background: #F7F7F7;
  padding-top: 55px;
}

.container-7 .card-container .card-title {
  margin-bottom: 8px;
}

.container {
  margin: auto;
  width: 1200px;
}

.title-container .title {
  color: #333;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 15px;
}

.title-container .title.align-c {
  text-align: center;
}

.title-container .title-bar {
  color: #666666;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
}

.card-container .card-title {
  color: #333;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 22px;
  text-align: center;
}

.card-container .card-title-bar {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
}

.card-container .txt {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: left;
}

.card-container .txt.align-c {
  color: #666;
  text-align: center;
}

.card-container .txt-s {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: left;
}

.btn-container {
  text-align: center;
  margin: 45px auto 36px;
}

.btn-container .card-btn {
  color: #5895E9;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  cursor: pointer;
  display: inline-block;
  border: 4px solid #5895E9;
  padding: 8px 36px;
}

.card-container-1 .card-5 {
  padding: 35px 20px 15px;
}

.card-container-1 .icon {
  display: block;
  height: 50px;
  width: 50px;
  margin: auto;
  margin-bottom: 30px;
}

.card-container-1 .icon-1 {
  background: url("../img/content/part01-icon1.png") no-repeat center center;
  background-size: contain;
}

.card-container-1 .icon-2 {
  background: url("../img/content/part01-icon2.png") no-repeat center center;
  background-size: contain;
}

.card-container-1 .icon-3 {
  background: url("../img/content/part01-icon3.png") no-repeat center center;
  background-size: contain;
}

.card-container-1 .icon-4 {
  background: url("../img/content/part01-icon4.png") no-repeat center center;
  background-size: contain;
}

.card-container-1 .icon-5 {
  background: url("../img/content/part01-icon5.png") no-repeat center center;
  background-size: contain;
}

.card-container-2 .card-5 {
  padding: 85px 20px 15px;
}

.card-container-2 .icon {
  display: block;
  height: 60px;
  width: 60px;
  margin: auto;
  margin-bottom: 24px;
}

.card-container-2 .icon-1 {
  background: url("../img/content/part02-icon1.png") no-repeat center center;
  background-size: contain;
}

.card-container-2 .icon-2 {
  background: url("../img/content/part02-icon2.png") no-repeat center center;
  background-size: contain;
}

.card-container-2 .icon-3 {
  background: url("../img/content/part02-icon3.png") no-repeat center center;
  background-size: contain;
}

.card-container-2 .icon-4 {
  background: url("../img/content/part02-icon4.png") no-repeat center center;
  background-size: contain;
}

.card-container-2 .icon-5 {
  background: url("../img/content/part02-icon5.png") no-repeat center center;
  background-size: contain;
}

.card-container-3 {
  padding-top: 77px;
}

.card-container-3 .card-4:last-child {
  margin: 0;
}

.card-container-3 .donut-item {
  margin-right: 21px;
  height: 276px;
  width: 284px;
}

.card-container-3 .donut-txt {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: left;
  width: 200px;
  left: 50%;
  top: 50%;
}

.card-container-3 .donut-item-1 {
  background: url("../img/content/part03-img1.png") no-repeat center center;
  background-size: contain;
}

.card-container-3 .donut-item-2 {
  background: url("../img/content/part03-img2.png") no-repeat center center;
  background-size: contain;
}

.card-container-3 .donut-item-3 {
  background: url("../img/content/part03-img3.png") no-repeat center center;
  background-size: contain;
}

.card-container-3 .donut-item-4 {
  background: url("../img/content/part03-img4.png") no-repeat center center;
  background-size: contain;
}

.card-container-3 .icon {
  display: block;
  height: 60px;
  width: 60px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 90px;
}

.card-container-3 .icon-1 {
  background: url("../img/content/part03-icon1.png") no-repeat center center;
  background-size: contain;
}

.card-container-3 .icon-2 {
  background: url("../img/content/part03-icon2.png") no-repeat center center;
  background-size: contain;
}

.card-container-3 .icon-3 {
  background: url("../img/content/part03-icon3.png") no-repeat center center;
  background-size: contain;
}

.card-container-3 .icon-4 {
  background: url("../img/content/part03-icon4.png") no-repeat center center;
  background-size: contain;
}

.card-container-4 {
  padding-top: 40px;
}

.card-container-5 {
  margin-top: 63px;
  padding-bottom: 0;
}

.card-container-5 .card-6 {
  box-sizing: border-box;
  padding: 35px 25px;
  height: 400px;
  -webkit-transition: .8s;
  transition: .8s;
}

.card-container-5 .card-6:hover {
  background: #A0A0A0;
}

.card-container-5 .card-6:hover .txt-s {
  opacity: 1;
  margin-top: 0;
}

.card-container-5 .txt-s {
  opacity: 0;
  margin-top: 45px;
  -webkit-transition: .8s;
  transition: .8s;
}

.card-container-5 .icon {
  display: block;
  height: 35px;
  width: 35px;
  margin: auto;
  margin-bottom: 35px;
}

.card-container-5 .icon-1 {
  background: url("../img/content/part05-icon1.png") no-repeat center center;
  background-size: contain;
}

.card-container-5 .icon-2 {
  background: url("../img/content/part05-icon2.png") no-repeat center center;
  background-size: contain;
}

.card-container-5 .icon-3 {
  background: url("../img/content/part05-icon3.png") no-repeat center center;
  background-size: contain;
}

.card-container-5 .icon-4 {
  background: url("../img/content/part05-icon4.png") no-repeat center center;
  background-size: contain;
}

.card-container-5 .icon-5 {
  background: url("../img/content/part05-icon5.png") no-repeat center center;
  background-size: contain;
}

.card-container-5 .icon-6 {
  background: url("../img/content/part05-icon6.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 {
  padding-top: 65px;
  width: 1000px;
  margin: auto;
}

.card-container-6 .icon {
  display: block;
  height: 75px;
  width: 105px;
  margin: auto;
  margin-bottom: 35px;
}

.card-container-6 .icon-1 {
  background: url("../img/content/part06-icon1.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-2 {
  background: url("../img/content/part06-icon2.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-3 {
  background: url("../img/content/part06-icon3.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-4 {
  background: url("../img/content/part06-icon4.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-5 {
  background: url("../img/content/part06-icon5.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-6 {
  background: url("../img/content/part06-icon6.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-7 {
  background: url("../img/content/part06-icon7.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-8 {
  background: url("../img/content/part06-icon8.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-9 {
  background: url("../img/content/part06-icon9.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-10 {
  background: url("../img/content/part06-icon10.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-11 {
  background: url("../img/content/part06-icon11.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-12 {
  background: url("../img/content/part06-icon12.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-13 {
  background: url("../img/content/part06-icon13.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-14 {
  background: url("../img/content/part06-icon14.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-15 {
  background: url("../img/content/part06-icon15.png") no-repeat center center;
  background-size: contain;
}

.card-container-6 .icon-16 {
  background: url("../img/content/part06-icon16.png") no-repeat center center;
  background-size: contain;
}

.card-container-7 {
  padding-top: 65px;
}

.card-container-7 .card-4 {
  margin-bottom: 115px;
}

.card-container-7 .icon {
  display: block;
  height: 54px;
  width: 54px;
  margin: auto;
  margin-bottom: 28px;
}

.card-container-7 .icon-1 {
  background: url("../img/content/part07-icon1.png") no-repeat center center;
  background-size: contain;
}

.card-container-7 .icon-2 {
  background: url("../img/content/part07-icon2.png") no-repeat center center;
  background-size: contain;
}

.card-container-7 .icon-3 {
  background: url("../img/content/part07-icon3.png") no-repeat center center;
  background-size: contain;
}

.card-container-7 .icon-4 {
  background: url("../img/content/part07-icon4.png") no-repeat center center;
  background-size: contain;
}

.foot {
  background: url("../img/content/foot-bg.png") no-repeat center;
  background-size: cover;
  padding: 40px 0;
  text-align: center;
}

.foot .foot-container {
  text-align: center;
}

.foot .foot-container .title {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 22px;
}

.foot .foot-container .title-bar {
  color: #fff;
  font-size: 31px;
  font-weight: normal;
  margin-bottom: 12px;
}

.foot .foot-container .foot-btn-s {
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 0;
  display: inline-block;
  background: #E60012;
  padding: 8px 64px;
}

.donut-item .donut {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  position: absolute;
  z-index: 5;
}

.donut-item .donut-txt {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotateY(180deg);
  transform: translate(-50%, -50%) rotateY(180deg);
}

.donut-item .donut-img {
  opacity: 1;
  width: 100%;
}

.donut-item:hover .donut-txt {
  -webkit-transform: translate(-50%, -50%) rotateY(360deg);
  transform: translate(-50%, -50%) rotateY(360deg);
  opacity: 1;
}

.donut-item:hover .donut-img {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
}