/**
 * price css
 * by liangya
 * date: 2018-07-04
 */

.service-banner {
  width: 100%;
  height: 500px;
  background: #3793f6 url('../img/price/service-banner.png') no-repeat center center;
}

.service-banner-desc {
  padding-top: 287px;
  font-size: 30px;
  color: #fff;
  text-align: center;
}

/* 服务区块 */

.service-block {
  padding: 30px 0;
  background-color: #fff;
}

.service-block:nth-child(2n+1) {
  background-color: #f8f8fa;
}

.service-block .row>div {
  padding-left: 0;
  padding-right: 0;
}

.service-block .row>.col-md-6 {
  padding: 0;
}

.service-block-title {
  margin-bottom: 40px;
  font-size: 28px;
  color: #333;
  text-align: center;
}

.service-block-container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.service-list {
  max-width: 1170px;
  margin: 0 auto;
}

.service-list .row {
  margin: 0;
}

.service-list .col-md-6:nth-child(2n) .service-hd {
  background: -webkit-linear-gradient(bottom, #3376d9, #65a2fe);
  background: -o-linear-gradient(top, #3376d9, #65a2fe);
  background: -moz-linear-gradient(top, #3376d9, #65a2fe);
  background: linear-gradient(to top, #3376d9, #65a2fe);
  background-color: #3376d9;
}

.service-list .col-md-6+.col-md-6 .service-bd,
.service-list .col-md-6+.col-md-6 .service-ft {
  border-left: 1px solid #eee;
}

.service-item {
  margin: 0 5px;
  font-size: 16px;
  color: #666;
  line-height: 1.8;
  background-color: #f3f8fe;
  border-radius: 8px;
  overflow: hidden;
}

.service-hd {
  height: 70px;
  color: #fff;
  text-align: center;
  background: -webkit-linear-gradient(bottom, #388dd9, #5ab0fd);
  background: -o-linear-gradient(top, #388dd9, #5ab0fd);
  background: -moz-linear-gradient(top, #388dd9, #5ab0fd);
  background: linear-gradient(to top, #388dd9, #5ab0fd);
  background-color: #388dd9;
  overflow: hidden;
}

.service-hd h3 {
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 5px;
}

.service-hd h4 {
  margin: 0;
  font-size: 16px;
}

.service-bd {
  height: 400px;
  padding: 20px;
  font-size: 14px;
}

.service-ft {
  padding: 20px 0;
  text-align: center;
}

.service-version {
  height: 60px;
  margin: 0;
  font-size: 20px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  background: -webkit-linear-gradient(bottom, #0c3153, #255e91);
  background: -o-linear-gradient(top, #0c3153, #255e91);
  background: -moz-linear-gradient(top, #0c3153, #255e91);
  background: linear-gradient(to top, #0c3153, #255e91);
  background-color: #0c3153;
}

.service-desc {
  margin-bottom: 0;
}

.service-price {
  margin-bottom: 20px;
  font-size: 24px;
  color: #EC385E;
  text-align: center;
}

.service-feature-list {
  padding-left: 16px;
}

.service-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  line-height: 1.1;
  border-radius: 6px;
  background: -webkit-linear-gradient(bottom, #3476DA, #65A2FE);
  background: -o-linear-gradient(top, #3476DA, #65A2FE);
  background: -moz-linear-gradient(top, #3476DA, #65A2FE);
  background: linear-gradient(to top, #3476DA, #65A2FE);
  background-color: #3476DA;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.service-btn:hover,
.service-btn:focus,
.service-btn:active {
  color: #fff;
  text-decoration: none;
}

.service-btn:hover {
  -webkit-box-shadow: 8px 8px 8px rgba(20, 30, 53, 0.11);
  -moz-box-shadow: 8px 8px 8px rgba(20, 30, 53, 0.11);
  -ms-box-shadow: 8px 8px 8px rgba(20, 30, 53, 0.11);
  box-shadow: 8px 8px 8px rgba(20, 30, 53, 0.11);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* 服务表格 */

.service-table {
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 22.56px 1.44px rgba(128, 131, 140, .15);
  box-shadow: 0 2px 22.56px 1.44px rgba(128, 131, 140, .15);
  overflow: hidden;
}

.service-table>thead>tr>th,
.service-table>tbody>tr>td {
  padding: 24px;
  font-weight: normal;
  text-align: center;
}

.service-table>thead>tr>th {
  font-size: 20px;
}

.service-table>tbody>tr>td {
  font-size: 18px;
}

.service-table.table>thead>tr {
  color: #fff;
  background: -webkit-linear-gradient(bottom, #11C9FD, #4563FF);
  background: -o-linear-gradient(top, #11C9FD, #4563FF);
  background: -moz-linear-gradient(top, #11C9FD, #4563FF);
  background: linear-gradient(to top, #11C9FD, #4563FF);
  background-color: #11C9FD;
  border: none;
}

.service-table.table>tbody>tr {
  border: none;
  border-top: 1px soolid #e6e6e6;
}

.service-table .service-qrcode {
  width: 100px;
  height: 100px;
}

.service-yj-feature {
  margin-bottom: 0;
  font-size: 16px;
}
