/* 
* @Author: binghe
* @Date:   2016-07-09 17:02:44
* @Last Modified by:   binghe
* @Last Modified time: 2016-08-25 20:37:51
*/

h1,h2,h3,h4,h5,h6 {font-weight: 100;}
h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 10px;}
a:focus {outline: 0;}
.height-all{height:100%;}
div.error{color:red;}
label.error{color:red;font-weight: normal;}
span.red{color:red;}

.gray-bg{background-color:#f3f3f4; }
.list-page{background-color:#f3f3f4; padding:20px; height:100%;color: #333;
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px; overflow-x: hidden;}


.ibox,.ibox-fluid{ background-color: #fff; font-size: 13px;}
.ibox-title{
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content{
    color: inherit;
    padding: 15px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-title h5{
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
.ibox-content table{
    font-size:13px;
} 
.ibox-right-dashed{
    border-right: dashed #e7eaec 1px;
}
.fixtable{ font-size:14px;}


/* fix ztree */
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
/*fix laydae*/
.laydate_box, .laydate_box * {box-sizing:content-box;}

.search{ display:none;}


